.ee {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0px;
  left: 0px;
  justify-content: center; /* 수평 중앙 정렬 */
  align-items: center; /* 수직 중앙 정렬 */
  background-color: #f0f0f004;
  overflow: hidden; /* 화면 밖으로 나가지 않게 */
}

/* 화면 전체를 클릭할 수 있는 .move-area */
.move-area {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 이동 가능한 div */
.movable-box {
  position: absolute;
  background-color: rgb(0, 0, 0);
  border-style: solid;
  border-color: rgb(255, 255, 255);
  border-width: 3px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  display: box;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 17px;
  border-radius: 6px;
}

.cor {
  position: absolute;
  top: 50%;
  left: 10px;
}
