#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.hidden {
  visibility: hidden;
}

.gray {
  color: rgb(0, 0, 0);
}

.board {
  border-radius: 20px;
  border-width: 0px;
  border-color: #1a1a1a;
  margin: 15px;
  padding: 5px;
  position: absolute;
}

.teamli {
  margin: 3px;
  border-radius: 17px;

  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: x-large;
  justify-content: space-between;
}

.teamlist {
  display: flex;
  flex-direction: column;
  background-color: gray;
  top: 80px;
  left: 10px;
}

.teamName {
  margin-left: 15px;
  width: 200px;
  font-size: large;
}

.red {
  color: white;
}
.red input {
  color: white;
}
.black {
  color: white;
}
.black input {
  color: white;
}
.blue {
  color: white;
}
.blue input {
  color: white;
}
.green {
  color: white;
}
.green input {
  color: white;
}

.open-button {
  position: fixed; /* 화면 고정 */
  bottom: 20px;
  right: 20px; /* 화면의 오른쪽 아래에 배치 */
  width: 60px;
  height: 60px;
  border-radius: 50%; /* 동그란 버튼 */
  background-color: grey;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.manual {
  font-size: medium;
  font-weight: 500;
  margin-right: 10px;
}
.score {
  margin-right: 15px;
  margin-left: 20px;
  font-weight: 600;
}

select,
.addedscore {
  background-color: white !important;
  border-width: 0px;
  color: black !important;
}

.teamName {
  background-color: rgba(255, 255, 255, 0.229);
  border-radius: 5px;
  height: 30%;
  border-width: 0px;
  font-weight: 600;
}

.yellow > .teamName {
  color: black;
}

.tt {
  font-weight: 600;
  font-size: larger;
  margin-top: 10px;
  margin-bottom: 10px;
}

.currentplayer {
  border-width: 5px;
  border-style: solid;
  border-color: black !important;
  font-size: larger;
  font-size: 800;
}

.ttt {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 24px;
}

.control {
  display: flex;
  flex-direction: row;
  align-items: center;
  vertical-align: center;
  border-radius: 35px;
  border-style: solid;
  margin: 15px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  bottom: 10px;
  right: 10px;
}

.raneDropdown {
  margin-right: 20px;
}

.confirm {
  display: flex;
  width: 70px;
  height: 30px;
  justify-content: center; /* 가로 중앙 정렬 */
  align-items: center;
  font-size: 14px;
  color: white;
  margin-left: 10px;
  margin-right: 12px;
}

.stopwatch-container {
  position: fixed;
  bottom: 20px;
  left: 20px;
}

.circle-button {
  width: 60px;
  height: 60px;
  border-radius: 50%; /* 동그란 버튼 */
  background-color: grey;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close-button {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  background: none;
  border: none;
  color: grey;
  font-size: 16px;
  cursor: pointer;
  padding: 0;
}

.close-button:hover {
  color: #000; /* 호버 시 색상 변경 */
}

.stopwatch {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 200px;
  justify-content: center; /* 가로 중앙 정렬 */
  align-items: center;
  padding: 13px;
}

.currentplayer {
  top: 10px;
  right: 50%;
  transform: translate(50%, 0%);
  width: 200px;
}

.carddeck {
  display: flex;
  flex-direction: row;
  height: 125px;
  top: 10px;
  right: 10px;
  background-color: grey;
}

table {
  width: 270px;
  border-collapse: collapse;
  margin: 20px auto;
  text-align: center;
}

th,
td {
  border: 1px solid #ffffff;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

th {
  background-color: #efefef;
  font-weight: bold;
}

td {
  background-color: #f3f3f3;
}

.tableTrain {
  display: inline-block;
  width: 18px;
  height: 10px;
  background-color: brown;
  margin-right: 3px;
  border-radius: 5px;
}

.tableTrains {
  text-align: left;
}

.infoTable {
  top: 150px;
  right: 10px;
  justify-content: left;
  z-index: 50;
}
