#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.hidden {
  visibility: hidden;
}

.gray {
  color: white;
}

.board {
  border-radius: 20px;
  border-width: 3px;
  border-color: #1a1a1a;
  border-style: solid;
  margin: 15px;
  padding: 5px;
  position: absolute;
}

.teamli {
  margin: 3px;
  border-radius: 17px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.teamlist {
  width: 240px;
  display: flex;
  flex-direction: column;
  background-color: gray;
  top: 70px;
  left: 10px;
}

.teamName {
  margin-left: 15px;
  width: 140px;
}

.red {
  color: white;
}
.black {
  color: white;
}
.blue {
  color: white;
}
.green {
  color: white;
}

.manual {
  font-size: small;
  font-weight: 400;
  margin-right: 10px;
}
.score {
  margin-right: 15px;
  font-size: small;
  font-weight: 600;
}

.teamName {
  background-color: rgba(255, 255, 255, 0);
  height: 30%;
  border-width: 0px;
  font-weight: 600;
}

.yellow > .teamName {
  color: black;
}

.trainnum {
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: gray;
  top: 10px;
  left: 10px;
}
.teamtrainnum {
  padding: 0;
  width: 10px;
  height: 10%;
  border-radius: 15px;
  display: flex; /* 플렉스 박스로 설정 */
  justify-content: center; /* 가로 중앙 정렬 */
  align-items: center;
  font-size: smaller;
  font-weight: 600;
}

.tt {
  font-weight: 600;
  font-size: larger;
  margin-top: 5px;
  margin-bottom: 10px;
}

.currentplayer {
  font-size: larger;
  font-size: 800;
}

.ttt {
  margin-bottom: 8px;
}

.control {
  display: flex;
  flex-direction: row;
  align-items: center;
  vertical-align: center;
  border-radius: 35px;
  border-width: 3px;
  border-color: #1a1a1a;
  border-style: solid;
  margin: 15px;
  padding: 10px;
  bottom: 10px;
  right: 10px;
}

.raneDropdown {
  margin-right: 30px;
}

.confirm {
  display: flex;
  width: 100px;
  height: 30px;
  justify-content: center; /* 가로 중앙 정렬 */
  align-items: center;
  font-size: 17px;
}

.stopwatch {
  bottom: 10px;
  left: 10px;
  display: block;
  width: 200px;
  background-color: gray;
  color: white;
  justify-content: center; /* 가로 중앙 정렬 */
  align-items: center;
}

.currentplayer {
  top: 10px;
  right: 50%;
  transform: translate(50%, 0%);
  width: 200px;
}

.carddeck {
  display: flex;
  flex-direction: row;
  top: 10px;
  right: 10px;
  background-color: grey;
}
