#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
  color: black;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.black {
  background-color: black;
}

.hidden {
  visibility: hidden;
}
