.r_ {
  border-width: 3px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-style: solid;
}

.r_red {
  background-color: rgb(255, 73, 73);
  border-color: white;
}

.r_orange {
  background-color: rgb(255, 177, 109);
  border-color: white;
}

.r_yellow {
  background-color: rgb(255, 255, 126);
  border-color: rgb(0, 0, 0);
}

.r_green {
  background-color: rgb(102, 199, 102);
  border-color: white;
}

.r_blue {
  background-color: rgb(126, 174, 247);
  border-color: white;
}

.r_pink {
  background-color: pink;
  border-color: rgb(0, 0, 0);
}

.r_black {
  background-color: rgb(27, 27, 27);
  border-color: rgb(255, 255, 255);
}

.r_white {
  background-color: white;
  border-color: rgb(0, 0, 0);
}

.r_gray {
  background-color: rgb(136, 136, 136);
  border-color: rgb(255, 255, 255);
}

.r_rainbow {
  background-image: linear-gradient(
    rgb(255, 115, 255),
    rgb(126, 126, 218),
    rgb(183, 238, 253),
    rgb(163, 220, 157),
    rgb(225, 225, 103),
    rgb(220, 188, 129),
    rgb(233, 133, 133)
  );
  border-color: white;
}
