.trn {
  box-shadow: 2px 1px 3px 0px #000000;
  width: 25px !important;
  height: 8px !important;
  border-radius: 5px !important;
  border-width: 5px;
  border-style: outset;
  z-index: 100;
}

.red {
  background-color: rgb(255, 51, 0);
  border-color: rgb(255, 106, 69);
}

.yellow {
  background-color: rgb(255, 230, 0);
  border-color: rgb(255, 241, 116);
}

.green {
  background-color: rgb(15, 195, 2);
  border-color: rgb(81, 217, 71);
}

.blue {
  background-color: rgb(2, 51, 157);
  border-color: rgb(54, 93, 177);
}

.black {
  background-color: rgb(12, 12, 12);
  border-color: rgb(111, 111, 111);
}

.gray {
  background-color: rgb(195, 195, 195);
}
